@mixin pseudo {
    content: '';
    display: block;
    position: absolute;
}

@mixin bg-img ($bg-url) {
    background-image: $bg-url;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}