.accordion {
    &__title {
        margin-bottom: 26px;
        cursor: pointer;
        position: relative;

        &:after {
            @include pseudo;
            @include bg-img (url(../icons/down-arrow.svg));
            width: 12px;
            height: 12px;
            right: 5%;
            top: 0;

            @include respond-to('medium') {
                background-image: none;
            }
        }

        img {
            max-width: 120px;

            @include respond-to('medium') {
                max-width: 155px;
            }
        }
    }

    .accordion__title.active {
        &:after {
            transform: rotate(180deg);
        }
    }

    &__list {
        display: none;

        @include respond-to('medium') {
            display: block;
        }

        li {
            margin-bottom: 18px;
        }

        a {
            font-size: $small;
            color: $blue;
            text-decoration: none;
            border-bottom: 1px solid rgba($blue, .4);
        }

        &_active {
            display: block;
        }
    }
}