.body {
    &__curtain {
        padding-top: 85px;
        width: 100%;
        
        &_active {
            overflow: hidden;
            
            &:after {
                @include pseudo;
                background-color: rgba($black2, .7);
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
            }
            
        }
    }
}