.header {
        position: fixed;
        width: 100%;
        background-color: $white;
        top: 0;
        z-index: 1;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 0;
    }
    &__logo {
        max-width: 177px;
        margin-left: 25px;
    }

    &__navigation {
        display: flex;
    }

    &__menu {
        display: none;
        
        &_active {
            display: flex;
            flex-direction: column;
        }
        a {
            font-family: $light-font;
            font-size: 10px;
            color: $blue;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $gold;
            }
        }
    }

    &__cart {
        margin-left: 10px;
        display: flex;
        align-items: flex-end;
        position: relative;

        &_active {
            &:after {
                @include pseudo;
                width: 15px;
                height: 15px;
                background-color: $pink;
                border-radius: 50%;
                right: 0;
                bottom: 0;
            }
        }

        img {
            width: 30px;
            height: 26px;
        }

        span {
            display: none;
            font-family: $general-font;
            font-size: $medium;
            color: $black2;
        }

        .cart__value{
            display: inline;
        }
    }

    &__login {
        border-right: 2px dotted $blue;
    }
}