.product {
    padding-bottom: 50px;

    @include respond-to('large') {
        padding-bottom: 100px;
        border-bottom: 1px solid rgba($grey, .4);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    
        @include respond-to('medium') {
            margin-bottom: 60px;
        }
    
        @include respond-to('large') {
            flex-direction: row;
            margin-bottom: 136px;
        }
    }

    &__heading {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        

        &_for-mobile {
            padding: 15px 0;
            border-bottom: 1px solid $grey;
            border-top: 1px solid $grey;

            @include respond-to('large') {
                display: none;
            }
        }

        &_for-desktop {
            display: none;

            @include respond-to('large') {
                display: block;
                margin-bottom: 25px;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;

        @include respond-to('large') {
            width: 43%;
        }
    
    }

    &__subtitle {
        font-weight: 400;
        font-size: $small;
        color: $grey;
    }

    &__to-cart {
        display: flex;
        flex-direction: column;

        @include respond-to('large') {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__image {
        margin-bottom: 15px;
    }

    &__offer {
        display: block;
        color: $pink;
        background-color: rgba($gold, .1);
        font-size: $small;
        padding: 5px;
        text-align: center;
        margin-bottom: 10px;

        @include respond-to('small') {
            &_big {
                width: 326px;
                font-size: 20px;
                margin-bottom: 25px;
                padding: 10px 0;
            }
        }
    }

    &__availability {
        margin-bottom: 12px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($grey, .4);

        @include respond-to('large') {
            padding-bottom: 155px;
        }
    }

    .slider {
        position: relative;

        @include respond-to('large') {
            display: flex;
            overflow: hidden;
            margin-right: 30px;
            width: calc(57% + 30px);
        }
    
        img {
            width: auto;
            margin: 0 auto;
            cursor: pointer;

            &:hover {
                box-shadow: 1.5px 2.6px 21px 0 rgba($blue, 0.75);
            }

            @include respond-to('large') {
                width: 100%;
                margin: 0;
            }
        }

        &__items {
            img {
                padding: 20px;

                @include respond-to('large') {
                    padding: 0;
                    height: 100%;
                }
            }

            @include respond-to('large') {
                order: 2;
                width: 461px;
        
                .slider__item {
                    height: 848px;
                }
            }
        }

        &__nav {
            
            @include respond-to('large') {
                width: 164px;
                order: 1;
            }

            img {
                padding: 20px;
                height: 100%;

                @include respond-to('large') {
                    padding: 0;
                    height: 100%;
                    margin: 0 auto 0 0;
                }
            }

            .slider__item {
                height: 100px;
            }

            .slick-active {
                img {
                    padding: 15px;

                    @include respond-to('large') {
                        padding: 0;
                    }
                }
            }
            
            .slick-center {
                img {
                    padding: 10px;

                    @include respond-to('large') {
                        padding: 0;
                    }
                }
            }

            @include respond-to('large') {
                .slick-slide,
                .slick-current,
                .slick-active {
                    width: 100%;
                }

                .slider__item {
                    height: 200px;
                    width: 100%;
                    margin-right: 30px;
                }
    
                
                .slick-active + .slick-active {
                    margin-top: 16px;
                }

                .slick-list {
                    height: 848px!important;
                }
            
            }
        }

        &__buttons {
            display: none;

            @include respond-to('large') {
                display: block;
            }

            .btn_next {
                bottom: 0;
            }
        }
    }

    
    &__rating {
        @include respond-to('small') {
            display: flex;
            margin-bottom: 10px;
                
            .product__review {
                margin-left: 8px;
            }
        }
    
        @include respond-to('large') {
            margin-bottom: 25px;
        }

        span {
            padding: 0 4px;
            a {
                font-weight: 300;
                font-size: $small;
                color: $blue;
            }
        }

        span + span {
            border-left: 1px solid $blue;
        }
        input{
            display:none;
        }
        
        label{
            cursor:pointer;
            font-size: $large;
            width: 15px;
            transition: all 0.5s ease-in;
        
            &:hover{
                font-size:22px;
            }
            
            &:before{
                content: "\2605";
                color: $gold;
            }
        }
        input:checked + label ~label{
            &:before{
                content: "\2605";
                color: $grey;
            }
        }
    }

    &__share {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($grey, .4);

        .share {
            display: flex;
            justify-content: space-between;
                    
            &__title {
                font-weight: 400;
                font-size: $normal;
                line-height: 1.71;
                letter-spacing: 0.56px;
                color: $grey;
                text-transform: uppercase;
                margin-right: 10px;
            }
        
            &__list {
                
                a {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                }
            }
        
            &__google {
                background-image: url(../icons/google-plus.svg);
            }
        
            &__gmail {
                background-image: url(../icons/gmail.svg);
            }
        }
    }

    &__print {
        display: block;
        font-weight: 300;
        font-size: 10px;
        text-align: right;
        margin: 5px 0;
        color: rgba($grey, .8);
    }

    .quanity {
        margin-bottom: 15px;

        @include respond-to('large') {
            margin-bottom: 30px;
        }

        h5{
            margin-bottom: 15px;
        }
        
        &__calc {
            display: flex;
            align-items: center;
        }


        &__result {
            font-weight: 400;
            color: $black;
            font-size: 28px;
            margin-left: 30px;
        }
    }
}

