.recomendation {

    &__heading {
        margin-bottom: 10px;
        cursor: pointer;
    }

    &__product {
        img {
            margin-bottom: 15px;
        }
    }

    .price {
        text-align: center;

        &__offer {
            margin: 10px auto;
        }
    }
}